html {
	font-size: 25px;
}
body{
	height: 100%;
	font-family: fantasy;
	font-size: x-large;
}

a:hover {
	text-decoration: underline;
}

.img {
	background-image: url("images/loginbg.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: top center;
}

.afterscroll {
	margin-bottom: 53px;
}

.shell > a {
	padding-top: 35px;
}

.shell > a:hover {
	text-decoration: none;
	background-color: transparent;
	text-shadow: .5px .5px .5px #b2dfdb; 
}


ul.nav-mobile.right{
	margin: 0px 40px 0px 0px;
	text-align: center;
}

ul.nav-mobile.right > li{
	width: 180px;
}
ul.nav-mobile.left {
	margin: 0px 0px 0px 40px;
	text-decoration: underline;
	text-align: center;
}

ul.nav-mobile.left > li {
	margin-right: 15px;
	width: 150px;
}

nav {
	background-image: url("images/woodentexture.jpg");
	text-shadow: .5px .5px .5px black;
	height: 127px;
}

.bottle{
	margin-top: -172px;
	margin-left:33%;
	background-image: url("images/imgbottle.png");
	height: 200px;
	width: 500px;
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    border: 
}

.intro {
	margin-top: 50px;
	margin-bottom: 50px;
}

form.card {
	margin-bottom: 50px;
}
.card.msg {
	margin-top: 100px;
}

.input-field.title > input {
	color: white;
	text-shadow: .5px .5px .5px darkorange;
	margin-top: 2px;
	font-size: 50px;
	height: 100px;
}
.input-field.body > input {
	color: black;
	text-shadow: .5px .5px .5px darkgray;
	margin-top: 2px;
	font-size: xx-large;
	height: 70px;	
}

button.waves-effect.waves-light.btn-large.post {
	width: 90%;
}

.flow-text {
	font-size: xx-large;
}

h2 {
	text-shadow: 1px 1px 5px #b2dfdb;
	margin-top: 50px;
}

.card .card-title{
	text-shadow: .5px .5px .5px white;
	font-size: xx-large;
}

a.card-title:hover{
	text-decoration: underline;
}

.anonprofile {
	margin-top: 150px;
}

h2.brand-logo.center{
	font-size: 35px;
	padding-right: 10px;
	color: black;
}

.shell {
	background-image: url("images/shell3.png");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 33px;
}

h3 {
	margin-top: 33px;
	margin-bottom: 0px;
}
img.left, img.right {
	margin-top: -27px;
}
p.center {
	padding-top: 20px;
}

.collapsible-body {
	overflow: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

.comment {
	margin-bottom: 20px;
}

.commenter {
	text-shadow: .5px .5px 3px #e57373;
}

.commenter > span {
	text-shadow: none;
}
li .open, li.active .close {
	display: none;
}
li.active .open, li .close {
	display: block;
}

.row {
	margin: 0px;
}

.stone {
	background-image: url("images/stone2.jpg");
	background-size: cover;                      
    background-repeat: repeat-x;
    background-position: top center;
	width: 100%;
	height: 53px;
}

.stone > ul {
	height: 53px;
}

.stone > ul > li > a {
	display: none;
}

.stone > ul > li > a:hover {
	text-decoration: none;
	background-color: transparent;
	text-shadow: .5px .5px .5px #b2dfdb; 
}

.ocean {
	background-image: url("images/ocean.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 53px; 
	z-index: 1;
}
