


/*---Backgrounds---*/

.palms {
	background-image: url("images/palmsbg.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: top center;
}

.afterscroll {
	margin-bottom: 60px;
}

.ocean {
	background-image: url("images/ocean.jpg");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}


/*---NavBar---*/

nav.wood {
	background-image: url("images/wood.jpg");
	text-shadow: .5px .5px .5px black;
	height: 127px;
	background-position: top center;
}

.bottle{
	margin-top: -172px;
	margin-left:34.5%;
	background-image: url("images/bottle.png");
	height: 200px;
	width: 500px;
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
}

h2.brand-logo{
	font-size: 35px;
	color: black;
	text-shadow: 1px 1px 5px #b2dfdb;
	margin-top: 50px;
	margin-left: 34.5%;
	padding-left: 66px;

}

.shell {
	background-image: url("images/shell.png");
	background-size: cover;                      
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 33px;
}

.shell > a {
	padding-top: 35px;
}

.shell > a:hover {
	text-decoration: none;
	background-color: transparent;
	text-shadow: .5px .5px .5px #b2dfdb; 
}

ul.nav-mobile.right{
	margin: 0px 40px 0px 0px;
	text-align: center;
}

ul.nav-mobile.right > li{
	width: 180px;
}

ul.nav-mobile.left {
	margin: 0px 0px 0px 40px;
	text-decoration: underline;
	text-align: center;
}

ul.nav-mobile.left > li {
	margin-right: 15px;
	width: 150px;
}


/*---Introduction---*/

.intro {
	margin-top: 50px;
	margin-bottom: 50px;
}

.flow-text {
	font-size: xx-large;
}


/*---Messages---*/

form.card {
	margin-bottom: 50px;
}

.card .card-title{
	text-shadow: .5px .5px .5px white;
	font-size: xx-large;
}

a.card-title:hover{
	text-decoration: underline;
}

.input-field.title > input {
	color: white;
	text-shadow: .5px .5px .5px darkorange;
	margin-top: 2px;
	font-size: 50px;
	height: 100px;
}

.input-field.body > input {
	color: black;
	text-shadow: .5px .5px .5px darkgray;
	margin-top: 2px;
	font-size: xx-large;
	height: 70px;	
}

button.waves-effect.waves-light.btn-large.post {
	width: 90%;
}

.likes {
	margin-top: 100px;
	margin-bottom: -40px;
}
.likes > span {
	margin-left: 15px;
}

.heart {
	color: black;
}
.options {
	height: 37px;
}
/*---Comments---*/

li .open, li.active .close {
	display: none;
}

li.active .open, li .close {
	display: block;
}

.collapsible-body {
	overflow: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

p.center {
	padding-top: 20px;
}

.commenter {
	text-shadow: .5px .5px 3px #e57373;
}

.commenter > span {
	text-shadow: none;
}

.comment {
	margin-bottom: 20px;
}

.time {
	font-size: 35px;
	padding-bottom: 25px;
}

/*---Stone Nav---*/

.stone {
	background-image: url("images/stone.jpg");
	background-size: cover;                      
    background-repeat: repeat-x;
    background-position: top center;
	width: 100%;
	height: 60px;
}

.stone > h2.fading {
	margin-top: 14px;
	padding: 0px;
	margin-left: 0px;
}

.stone > ul {
	height: 60px;
}

.stone > ul > li > a {
	display: none;
}

.stone > ul > li > a:hover {
	text-decoration: none;
	background-color: transparent;
	text-shadow: .5px .5px .5px #b2dfdb; 
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 60px; 
	z-index: 10;
}

input[type='search']{
	background-color: white;
}

.searchbar > #results > .modal-content > h4 {
	margin-bottom: 0px;
}
/*---Profile Page---*/
.anonprofile {
	margin-top: 150px;
}

h3 {
	margin-top: 33px;
	margin-bottom: 0px;
}
img.left, img.right {
	
}

/*---Misc---*/

html {
	font-size: 25px;
}

body{
	height: 100%;

	font-family: fantasy;
	font-size: x-large;
}

a:hover {
	text-decoration: underline;
}

.row {
	margin: 0px;
}
