body{
	height: 100%;
	background-image: url("images/loginbg.jpg");
	background-size: contain;                      
    background-repeat: no-repeat;
    background-position: top center;
}

nav {
	opacity: .9;
}

.intro {
	margin-top: 50px;
	margin-bottom: 50px;
}

.card.msg {
	margin-top: 100px;
}

.input-field.title > input {
	color: white;
	text-shadow: .5px .5px .5px darkorange;
	margin-top: 2px;
}
.input-field.body > input {
	color: black;
	text-shadow: .5px .5px .5px darkgray;
	margin-top: 2px;
}

button {
	width: 90%;
}